<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>com.artipie</groupId>
  <artifactId>helloworld</artifactId>
  <version>1.0</version>
  <packaging>jar</packaging>

  <name>Hello World</name>
  <description>The most basic of Java programs.</description>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    <jdk.version>1.8</jdk.version>

    <maven.compiler.plugin.version>3.8.1</maven.compiler.plugin.version>
  </properties>

  <distributionManagement>
    <repository>
        <id>my-repo</id>
        <name>Artipie</name>
        <url>http://host.testcontainers.internal:%d/</url>
    </repository>
  </distributionManagement>

  <build>
    <plugins>
      <plugin>
          <artifactId>maven-deploy-plugin</artifactId>
          <version>2.8.2</version>
        </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>${maven.compiler.plugin.version}</version>
        <configuration>
          <source>${jdk.version}</source>
          <target>${jdk.version}</target>
        </configuration>
      </plugin>
    </plugins>
  </build>
</project>