<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/logo.png"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/"><img src="https://www.artipie.com/logo.svg" style="height:92px;" alt="logo"/></a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <article>
        {{#block "content"}}
        {{/block}}
      </article>
    </section>
    <footer>
      <nav>
        <ul>
          <li>
            &copy; Made by <a href="https://www.artipie.com">Artipie</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
