<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="/logo.png"/>
    <link rel="stylesheet" href="/css/tacit-css.min.css"/>
</head>
<body>
{{#block "content"}}
{{/block}}
</body>
</html>