{{#partial "content"}}

<p>
  In order to use Artipie Central and host your own
  repositories here you should send us a request
  <a href="mailto:team@artipie.com">by email</a>
  and we will grant you such a permission. You may also want
  to join our Telegram chat
  <a href="https://t.me/artipie">@artipie</a>
  to discuss details and get help.
</p>
{{/partial}}
{{> base}}
