{{#partial "content"}}

<p>
  You may reset your password to be used in
  authentication through package managers, like Maven:
</p>

<form action="/api/users/{{user}}/password" method="POST">
  <input id="new-password" name="password" type="password" placeholder="Your password..." size="35" required="true"/>
  <input id="new-repo-submit" type="submit" value="Change"/>
</form>

<p>
  Your repositories:
</p>

<form>
  <label>New repository:</label>
  <input id="new-repo-name" type="text" size="25" required="true" pattern="[a-z0-9]{3,16}"/>
  <input id="new-repo-submit" type="submit" value="Add"/>
</form>
<script>
document.getElementById('new-repo-submit').addEventListener('click', (evt) => {
  // create new repository and relocate to new repo page
  evt.preventDefault();
  const nme = document.getElementById('new-repo-name').value;
  window.location += `/${nme}`;
});
</script>

<ul>
{{#repos}}
  <li>
    <a href="/{{this}}">{{this}}</a>
  </li>
{{/repos}}
</ul>

<p>
  <span class="firebrick">DISCLAIMER</span>:
  The service provided to you by Artipie is free of charge
  and we expect you to behave good. Don't host here anything aside from
  your private software packages. Too large or abusive files may be deleted without
  notice. We truly hope that you enjoy our service and want it to stay alive.
  Thanks!
</p>

{{/partial}}
{{> base}}
