<?xml version="1.0" encoding="UTF-8"?>
<metadata xmlns="http://linux.duke.edu/metadata/common"
          xmlns:rpm="http://linux.duke.edu/metadata/rpm" packages="-1">
<package type="rpm">
    <name>libdeflt1_0</name>
    <arch>armv7hl</arch>
    <version epoch="0" ver="2020.03.27" rel="25.1"/>
    <checksum type="sha256" pkgid="YES">47bbb8b2401e8853812e6340f4197252b92463c132f64a257e18c0c8c83ae462</checksum>
    <summary>Library to parse sysconfig setting files</summary>
    <description>This library can be used to parse setting files that follow a trivial
        "KEY=VALUE"-style pattern, similar to what can be found in files
        located in /etc/sysconfig. libdeflt supports values with spaces
        which are not quoted, and which therefore are not always compatible
        with sh.</description>
    <packager>http://bugs.opensuse.org</packager>
    <url>http://cdrtools.sourceforge.net/private/cdrecord.html</url>
    <time file="1590055722" build="1585609774"/>
    <size package="46704" installed="28317" archive="28884"/>
    <location href="libdeflt1_0-2020.03.27-25.1.armv7hl.rpm"/>
    <format>
        <rpm:license>CDDL-1.0</rpm:license>
        <rpm:vendor>openSUSE</rpm:vendor>
        <rpm:group>System/Libraries</rpm:group>
        <rpm:buildhost>armbuild19</rpm:buildhost>
        <rpm:sourcerpm>schily-2020.03.27-25.1.src.rpm</rpm:sourcerpm>
        <rpm:header-range start="5096" end="38436"/>
        <rpm:provides>
            <rpm:entry name="libdeflt.so.1.0"/>
            <rpm:entry name="libdeflt.so.1.0(SCHILY_1.0)"/>
            <rpm:entry name="libdeflt.so.1.0(SCHILY_1.1)"/>
            <rpm:entry name="libdeflt1_0" flags="EQ" epoch="0" ver="2020.03.27" rel="25.1"/>
            <rpm:entry name="libdeflt1_0(armv7hl-32)" flags="EQ" epoch="0" ver="2020.03.27" rel="25.1"/>
        </rpm:provides>
        <rpm:requires>
            <rpm:entry name="/sbin/ldconfig"/>
            <rpm:entry name="/sbin/ldconfig" pre="1"/>
            <rpm:entry name="ld-linux-armhf.so.3"/>
            <rpm:entry name="ld-linux-armhf.so.3(GLIBC_2.4)"/>
            <rpm:entry name="libc.so.6(GLIBC_2.4)"/>
            <rpm:entry name="libgcc_s.so.1"/>
            <rpm:entry name="libgcc_s.so.1(GCC_3.5)"/>
        </rpm:requires>
    </format>
</package>
</metadata>