<?xml version="1.0" encoding="UTF-8"?>
<otherdata xmlns="http://linux.duke.edu/metadata/other" packages="-1">
<package pkgid="abc123" name="libdeflt1_0" arch="armv7hl">
    <version epoch="0" ver="2020.03.27" rel="25.1"/>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1565611200">- Update to new upstream release 2019.07.22
        * The smake man page now mentions -N,-T,-u,-w,-j,-m-R
        * smake: fixed a potential crash when printing current directory
        * smake: implemented the -C option for gmake compatibility</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1566648000">- Update to new upstream release 2019.08.13
        * mkisofs: The struct attrinfo in apple.h has been enhanced by the
        struct members objid_low, objid_high, rsrc_length.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1570536000">- Update to release 2019.10.07
        * Fixed infinite recursion of following symlinks in libschily/resolvepath.c.
        * smake: The error message for failed shell commands has been
        modified to "Code %d (%s) from command line..." in order to
        cause less confusion with the text printed by smake.
        * bosh: introduced shared memory to be able to forward the
        special exit cause (NOTFOUND or NOEXEC) to the parent even in
        case it used fork() instead of vfork().
        * bosh: Added support for a new automatic parameter "$/" to
        complement the existing parameter "$?".
        * star: The option -no-secure-links now may be configured as a
        global default via the tag STAR_SECURE_LINKS= in the file
        /etc/default/star and as a private default via an environment
        of the same name.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1572091200">- Update to release 2019.10.25
        * libfind: The recent changes to support "find dir/name -name
        name" did not work with -depth because the name base index
        needs a reset after processing the directory content.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1574251200">- Update to relesae 2019.11.11
        * star: When using star -copy, the default is now
        - no-secure-links. This is what users like since they are
        copying their own data that per definition cannot be
        untrusted external data.
        * star: star -diff is now "more smooth" to use, when the
        archive type is GNU TAR and the "atime" or "ctime" properties
        are not present for a specific file. Before, Jan 1 1970 was
        the assumed time in the archive.
        * star: star -diff now prints a diff statistics summary.
        * SCCS: Added a new delta type 'U' that allows to tell get(1)
        to remove the g-file. Such SCCS history files are going to be
        used as placeholders for removed files in the upcomming
        project mode.
        * SCCS: admin now has a new option -Xunlink. It can be used
        together with -n to create special SCCS history files that
        remove the g-file on extraction if a delta is to be extracted
        that is of type 'U'.
        * SCCS: get now honors delta table entries that use the new 'U'
        delta type and removed non-writable g-files on extraction.
        This feature only works if the history file is in SCCS V6
        mode.
        * SCCS: a new option -Xmail=address allows admin(1) and delta(1)
        to add an email address to the delta meta data.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1578830400">- Update to release 2019.12.05
        * libschily: the function getargs() and similar (from the
        option parser group) now support an extended format
        specifier: Previously, %0 and %1 have been supported, now all
        single digit numbers %0..%9 are supported.
        * libfind: The functions fetchdir()/dfetchdir(), sortdir(),
        cmpdir() now use size_t instead of int for the entry number
        count and the allocated size.
        * star: The new-volume-script= script is now called at the end
        of _every tape_, even at the last one. This now allows to
        have a script that automatically renames a standard archive
        name into numbered archive names when a tree should be
        splitted into chunks.
        * star: In "pax" command line mode, star now uses -no-fsync as
        default.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1580817600">- Set -fcommon [boo#1160291].</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1581508800">- Update to release 2020.02.11
        * Bourne Shell: A new variable ${.sh.path} returns the absolute
        path of the binary associated to the exec() for this shell.
        * Bourne Shell: `for i in; do cmd ...; done` is now valid
        syntax even though this is useless.
        * SCCS: comb.c now puts the filename in the created shell
        script in single quotes.
        * SCCS: comb.c now forbids single quotes and backslashes in
        filenames as they would cause problems with the shell script
        created by comb.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1584360000">- Update to release 2020.03.11
        * Bourne Shell: set -m now works in scripts as well. Before,
        bosh did never call startjobs() when the shell startup was
        done with a shell script.
        * Bourne Shell: The shell now supports the alternate ;&amp; switch
        command limiter in addition to ;; where ;&amp; implements a
        fallthrough to the next command list regardless on thether
        there is a match or not.</changelog>
    <changelog author="Jan Engelhardt &lt;jengelh@inai.de&gt;" date="1585396800">- Update to release 2020.03.27
        * mkisofs: A new option -noatime has been introduced in order
        to use the modification time of the files instead of the last
        access time.
        * mkisofs: New options -creation-date, -effective-date,
        - expiration-date have been introduced in order to use the
        supplied time stamp instead of the current time in the PVD.
        * mkisofs: A new option -reproducible-date has been added. This
        option sets -creation-date, -modification-date,
        - effective-date and -noatime at the same time and helps to
        make usage easier.
        * Bourne Shell: The case statement now supports the alternate
        end case symbol ";;&amp;" that has been introduced by bash. If
        ";;&amp;" is used instead of ";;", the next pattern list is
        evaluated and if there is a match, the related command list
        is executed.</changelog>
</package>
</otherdata>