---
name: Integration tests
"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  maven-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download JDK
        run: |
          wget --no-verbose --directory-prefix ${{ runner.temp }} \
            https://download.oracle.com/java/21/latest/jdk-21_linux-x64_bin.tar.gz
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: jdkfile
          jdkFile: ${{ runner.temp }}/jdk-21_linux-x64_bin.tar.gz
          java-version: 17
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ubuntu-latest-jdk-21-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ubuntu-latest-jdk-21-maven-
      - run: mvn -B verify -Pitcase
